GENOA_LOCAL_ACCESS=true
GENOA_LOG_LEVEL=debug
GENOA_CONSOLE_LOG=true
GENOA_NAMESPACE=endeavor
GENOA_RESOURCE_PATH=dev/genoa.yaml
GENOA_DATABASE_URL=postgres://postgres:theeaglefliesatmidnight@localhost:7654/postgres